################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.lock
*.ide
*.ide-shm
*.ide-wal
*.exe
*.config
*.pdb
*.json
*.nuspec
*.dll
*.cache
*.cs
*.sln
*.resx
*.settings
*.txt
*.resources
